[core]
    hooksPath = /home/sadx/.git-templates/hooks
    pager = delta
    editor = nvim
[delta]
    plus-style = syntax "#012800"
    minus-style = syntax "#340001"
    syntax-theme = Monokai Extended Origin
    side-by-side = true
    max-line-length = 0
[interactive]
    diffFilter = delta --color-only
[init]
    defaultBranch = main
